/* Set the font and color for the page */
body {
    font-family: sans-serif;
    color: #333;
}

/* Style the header and nav */
header {
    background-color: #eee;
    padding: 20px;
}

header nav {
    display: flex;
    justify-content: space-evenly;
}

header nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    color: #555;
}

/* background image fills the entire page */
.background-image {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

/* Style the body content 
 body content appears over the background image
 The font size is 72px and the text is right aligned */
.body-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: right;
    color: #fff;
    font-size: 720em;
}

.body-content p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: #eee;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* footer appears at the absolute bottom of the page */
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    color: #555;
}